@model List<Category>
<div class="container">
    <h1>Category List</h1>
    <div class="row pt-4 pb-3">
        <div class="col-6">
            <h2 class="text-primary">
                Category List
            </h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="" asp-action="" class="btn btn-primary">
               <i class="bi bi-plus"></i> Create new Category 
            </a>
        </div>
    </div>
<table class="table table-bordered table-stripped">
    <tr>
        <td>
            Category Name
        </td>
        <td>
            Display Order
        </td>        
    </tr>
    <tbody>
        @foreach (var obj in Model.OrderBy(u=>u.displayOrder))
        {
            
        
        <tr>
            <td>@obj.name</td>
            <td>@obj.displayOrder</td>
            
        </tr>
        }
    </tbody>
</table>

</div>